<!doctype html>
<html>
	<head>
	<link href="style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1>Submit Your Fist of Five!</h1>
		<form method="get" action="/student">
			<button>Student View</button>
		</form>
		<form method="get" action="/instructor">
			<button>Instructor View</button>
		</form>
		<br/>
		<img src="dilbert_presentation_understanding.jpeg">
	</body>
</html>
