<!doctype html>
<html>
	<head>
	<style>

	</style>
	</head>
	<body>
		<h1>Fist of Five Submitted by Students!</h1>
		<p>Average: <%=avg %></p>
		<p>Minimum: <%=min %></p>
		<p>Maximum: <%=max %></p>
		<p>Entries Submitted: <%=num %></p>
		<form method="post" action="/reset">
			<button>Reset</button>
		</form>
	</body>
</html>
