<!doctype html>
<html>
	<head>
	<style>

	</style>
	</head>
	<body>
		<h1>Fist of Five Submitted!</h1>
		<p>Average: <%=avg %></p>
		<p>Minimum: <%=min %></p>
		<p>Maximum: <%=max %></p>
		<p>Entries Submitted: <%=num %></p>
	</body>
</html>