<!doctype html>
<html>
	<head>
	<style>

	</style>
	</head>
	<body>
		<h1>Fist of Five (Student View)</h1>
      <form method="post" action="/fist">
	      <input type="text" placeholder="First Name" name="firstname">
	      <input type="text" placeholder="Last Name" name="lastname">
	      <select name=ranking>
		    <option name=one value="1"> 1 </option>
			<option name=two value="2"> 2 </option>
			<option name=three value="3"> 3 </option>
			<option name=four value="4"> 4 </option>
			<option name=five value="5" selected> 5 </option>
		</select>
		<button>Submit</button> 
	   </form>
	</body>
</html>